@page "/meals"

@attribute [Authorize]

<PageTitle>Meals</PageTitle>

<section>
    
    <h1>Meals</h1>

    <NavLink href=@($"meals/add")>
        Add
    </NavLink>
    <MealsList />

</section>

@code {

}
