@page "/Account/ConfirmEmail"

@using System.Text
@using FoodJournal.Application.Database
@using FoodJournal.Application.Entities
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.WebUtilities

@inject UserManager<ApplicationUser> UserManager
@inject IdentityRedirectManager RedirectManager

<PageTitle>Confirm email</PageTitle>

<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="bg-zinc-950 rounded-lg p-10 ring-1 shadow-xs ring-white/10 sm:mx-auto sm:w-full sm:max-w-md">

        <div>
            <img class="mx-auto h-20 w-auto" src="/images/food-journal-logo-512x512.png" alt="Bite Log">
            <h2 class="mt-10 text-center text-2xl/9 font-bold tracking-tight text-stone-50">Confirm email</h2>
        </div>

        <div class="mt-10">
            <div class="space-y-6">

                <StatusMessage Message="@statusMessage" />
                
                <NavLink href="/">
                    <Button>Go home</Button>
                </NavLink>

            </div>
        </div>
    </div>
</div>

<div class="bg-zinc-950 rounded-lg p-10 ring-1 shadow-xs ring-white/10 sm:mx-auto">

    <h1 class="text-2xl/9 font-bold tracking-tight text-stone-50 mb-4">Confirm email</h1>
    
    <div class="mt-4">
        <StatusMessage Message="@statusMessage" />
    </div>

    <div class="mt-4">
        <NavLink href="/">
            <Button>Go home</Button>
        </NavLink>
    </div>
    
</div>

@code {
    private string? statusMessage;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromQuery]
    private string? UserId { get; set; }

    [SupplyParameterFromQuery]
    private string? Code { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (UserId is null || Code is null)
        {
            RedirectManager.RedirectTo("");
        }

        var user = await UserManager.FindByIdAsync(UserId);
        if (user is null)
        {
            HttpContext.Response.StatusCode = StatusCodes.Status404NotFound;
            statusMessage = $"Error loading user with ID {UserId}";
        }
        else
        {
            var code = Encoding.UTF8.GetString(WebEncoders.Base64UrlDecode(Code));
            var result = await UserManager.ConfirmEmailAsync(user, code);
            statusMessage = result.Succeeded ? "Thank you for confirming your email." : "Error confirming your email.";
        }
    }
}
