@page "/"

<PageTitle>Home - Bite Log</PageTitle>

<h1 class="text-2xl/8 font-semibold text-zinc-950 sm:text-xl/8 dark:text-white">Hello, World!</h1>
<p>
    This is the home page.
</p>

<LoadingSpinner />

