﻿ <div class="fixed inset-0 z-50 grid place-content-center bg-black/50 p-4" role="dialog" tabindex="-1" aria-modal="true" aria-labelledby="modalTitle">
    <div class="w-full max-w-md rounded-lg bg-gray-900 p-6 shadow-lg" role="document">
        <div class="flex items-start justify-between">
            <h2 id="modalTitle" class="text-xl font-bold text-white sm:text-2xl">
                @Title
            </h2>
            <button type="button" class="-me-4 -mt-4 rounded-full p-2 text-gray-500 transition-colors hover:bg-gray-800 hover:text-gray-300 focus:outline-none" aria-label="Close" onclick="@OnCancelCallback">
                <span class="material-symbols-outlined" style="font-size:20px;">
                    close
                </span>
            </button>
        </div>
        <div class="mt-4">
            <p class="text-pretty text-gray-200">
                @Message
            </p>
        </div>
        <footer class="mt-6 flex justify-end gap-2">
            <button type="button" class="rounded bg-gray-800 px-4 py-2 text-sm font-medium text-gray-200 transition-colors hover:bg-gray-700" onclick="@OnCancelCallback">
                No, cancel
            </button>

            <button type="button" class="rounded bg-blue-600 px-4 py-2 text-sm font-medium text-white transition-colors hover:bg-blue-700" onclick="@OnConfirmCallback">
                <strong>Yes, confirm</strong>
            </button>
        </footer>
    </div>
</div>

@code {
    [Parameter] public string Title { get; set; } = "Are you sure?";
    [Parameter] public string Message { get; set; } = "Do you really want to perform this action?";
    [Parameter] public EventCallback OnConfirmCallback { get; set; }
    [Parameter] public EventCallback OnCancelCallback { get; set; }
}
