<!DOCTYPE html>
<html class="antialiased" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,200&icon_names=abc,add,alternate_email,bakery_dining,bar_chart,calendar_month,check_circle,chevron_left,chevron_right,close,date_range,delete,edit,error,fitness_center,home,info,key,local_fire_department,logout,menu,menu_book,person,progress_activity,restaurant,search,search_off,star,trending_up,visibility,visibility_off,warning,water_drop&display=block" />
    <link rel="stylesheet" href="@Assets["css/normalize.css"]" />
    <link rel="stylesheet" href="@Assets["css/site.css"]" />
    <link rel="stylesheet" href="@Assets["FoodJournal.BlazorApp.styles.css"]" />
    <ImportMap />
    <link rel="icon" href="images/favicon.ico" />
    <HeadOutlet @rendermode="PageRenderMode" />
</head>

<body>
    <Routes @rendermode="PageRenderMode" />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>

@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    private IComponentRenderMode? PageRenderMode =>
        HttpContext.AcceptsInteractiveRouting() ? InteractiveServer : null;
}
