@page "/foods/edit/{Id:guid}"

@using FoodJournal.Application.Entities
@using FoodJournal.Application.Repositories
@using FoodJournal.BlazorApp.Components.Shared
@inject IFoodRepository FoodRepository;

<PageTitle>Edit Food</PageTitle>

<div>
    <h1>Edit Food</h1>

    @if (Food is null)
    {
        <LoadingSpinner />
    }
    else
    {
        <p>@Food.Id</p>
        <p>@Food.Name</p>
    }

</div>

@code {
    [Parameter] public Guid Id { get; set; }

    private Food? Food { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadFoodAsync();
        }
    }

    private async Task LoadFoodAsync()
    {
        var food = await FoodRepository.GetByIdAsync(Id, CancellationToken.None);

        if (food is null)
        {
            // TODO: Toast.
        }
        else
        {
            Food = food;
        }

        await InvokeAsync(StateHasChanged);
    }

}
