@using FoodJournal.Application.Entities
@using FoodJournal.Application.Repositories
@inject IFoodRepository FoodRepository;

<h3>FoodsList</h3>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var food in foods)
        {
            <tr>
                <td>@food.Id</td>
                <td>@food.Name</td>
                <td>
                    <div>
                        <NavLink href=@($"foods/edit/{@food.Id}") >
                            Edit
                        </NavLink>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    private IEnumerable<Food> foods = [new Food(Guid.NewGuid(), "Test")];

    protected override async Task OnInitializedAsync()
    {
        foods = await FoodRepository.GetAllAsync(CancellationToken.None);
    }
}
